body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif, verdana;
}

header {
    width: 80%;
    height: 150px;
    margin: 0 auto;
    text-align: center;
}

li {
    padding: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: left;
}

.container h1 {
    text-align: center;
    font-weight: bold;

}

.container h3 {
    text-align: center;
}


.container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

h2 {
    text-align: center;
    padding: 20px;
}
.card {
    padding: 10px;
}
footer {
    background-color: #d849c5;
    height: 10%;
    color: black;
    text-align: center;
}

footer p {
    padding: 10px;
}