body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif, verdana;
}

header {
    width: 80%;
    height: 200px;
    margin: 0 auto;
    text-align: center;
}

li {
    padding: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

footer {
    background-color: pink;
    color: black;
}